<template>
  <el-card shadow="never" class="aui-card--fill">
    <div class="mod-wx_mp__weixinlogin}">
      <el-button type="primary" @click="weixinOauth()">测试微信扫码登录</el-button>
    </div>
  </el-card>
</template>

<script>
import debounce from 'lodash/debounce'
export default {
  data() {
    return {
    }
  },
  methods: {
    weixinOauth(){
      this.$http
        .get("wx_mp/weixin/oauth")
        .then(res => {
          console.log("123"+res);
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
}
</script>