<template>
  <el-card shadow="never" class="aui-card--fill">
    <div class="mod-wx_mp__wxapp}">
      <el-form :inline="true" :model="dataForm" @keyup.enter.native="getDataList()">
        <el-form-item>
          <el-input v-model="dataForm.id" placeholder="id" clearable></el-input>
        </el-form-item>
        <el-form-item>
          <el-button @click="getDataList()">{{ $t('query') }}</el-button>
        </el-form-item>
        <el-form-item>
          <el-button type="info" @click="exportHandle()">{{ $t('export') }}</el-button>
        </el-form-item>
        <el-form-item>
          <el-button
            v-if="$hasPermission('wx_mp:wxapp:save')"
            type="primary"
            @click="addOrUpdateHandle()"
          >{{ $t('add') }}</el-button>
        </el-form-item>
        <el-form-item>
          <el-button
            v-if="$hasPermission('wx_mp:wxapp:delete')"
            type="danger"
            @click="deleteHandle()"
          >{{ $t('deleteBatch') }}</el-button>
        </el-form-item>
      </el-form>
      <el-table
        v-loading="dataListLoading"
        :data="dataList"
        border
        @selection-change="dataListSelectionChangeHandle"
        style="width: 100%;"
      >
        <el-table-column type="selection" header-align="center" align="center" width="50"></el-table-column>
        <el-table-column prop="appId" label="小程序/公众号ID" header-align="center" align="center"></el-table-column>
        <el-table-column prop="appType" label="应用类型" header-align="center" align="center"></el-table-column>
        <el-table-column prop="weixinSign" label="微信原始标识" header-align="center" align="center"></el-table-column>
        <el-table-column prop="secret" label="应用密钥" header-align="center" align="center"></el-table-column>
        <el-table-column prop="token" label="token" header-align="center" align="center"></el-table-column>
        <el-table-column prop="aesKey" label="EncodingAESKey" header-align="center" align="center"></el-table-column>
        <el-table-column prop="name" label="微信号昵称" header-align="center" align="center"></el-table-column>
        <el-table-column prop="isComponent" label="是否第三方平台应用" header-align="center" align="center"></el-table-column>
        <el-table-column prop="mchId" label="微信支付商户号" header-align="center" align="center"></el-table-column>
        <el-table-column prop="mchKey" label="微信支付商户密钥" header-align="center" align="center"></el-table-column>
        <el-table-column prop="keyPath" label="p12证书的位置" header-align="center" align="center"></el-table-column>
        <el-table-column
          :label="$t('handle')"
          fixed="right"
          header-align="center"
          align="center"
          width="150"
        >
          <template slot-scope="scope">
            <el-button
              v-if="$hasPermission('wx_mp:wxapp:update')"
              type="text"
              size="small"
              @click="addOrUpdateHandle(scope.row.id)"
            >{{ $t('update') }}</el-button>
            <el-button
              v-if="$hasPermission('wx_mp:wxapp:delete')"
              type="text"
              size="small"
              @click="deleteHandle(scope.row.id)"
            >{{ $t('delete') }}</el-button>
            <el-button
              type="text"
              size="small"
              @click="getuserList(scope.row.appId)"
            >用户管理</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        :current-page="page"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="limit"
        :total="total"
        layout="total, sizes, prev, pager, next, jumper"
        @size-change="pageSizeChangeHandle"
        @current-change="pageCurrentChangeHandle"
      ></el-pagination>
      <!-- 弹窗, 新增 / 修改 -->
      <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
    </div>
  </el-card>
</template>

<script>
import mixinViewModule from '@/mixins/view-module'
import AddOrUpdate from './wxapp-add-or-update'
export default {
  mixins: [mixinViewModule],
  data() {
    return {
      mixinViewModuleOptions: {
        getDataListURL: '/wx_mp/wxapp/page',
        getDataListIsPage: true,
        exportURL: '/wx_mp/wxapp/export',
        deleteURL: '/wx_mp/wxapp',
        deleteIsBatch: true
      },
      dataForm: {
        id: ''
      }
    }
  },
  components: {
    AddOrUpdate
  },
  methods:{
    //获取关注者列表
    getuserList(appId) {
      console.log(appId)
      this.$router.push({ name: 'wx-mp-wxuser', params: { appId: appId } });
    },
  },
  created() {
  }
}
</script>
