<template>
  <el-dialog
    :visible.sync="visible"
    :title="!dataForm.id ? $t('add') : $t('update')"
    :close-on-click-modal="false"
    :close-on-press-escape="false"
  >
    <el-form
      :model="dataForm"
      :rules="dataRule"
      ref="dataForm"
      @keyup.enter.native="dataFormSubmitHandle()"
      :label-width="$i18n.locale === 'en-US' ? '120px' : '80px'"
    >
      <el-form-item label="小程序/公众号ID" prop="appId">
        <el-input v-model="dataForm.appId" placeholder="小程序/公众号ID"></el-input>
      </el-form-item>
      <el-form-item label="应用类型(1:小程序，2:公众号)" prop="appType">
        <el-input v-model="dataForm.appType" placeholder="应用类型(1:小程序，2:公众号)"></el-input>
      </el-form-item>
      <el-form-item label="微信原始标识" prop="weixinSign">
        <el-input v-model="dataForm.weixinSign" placeholder="微信原始标识"></el-input>
      </el-form-item>
      <el-form-item label="应用密钥" prop="secret">
        <el-input v-model="dataForm.secret" placeholder="应用密钥"></el-input>
      </el-form-item>
      <el-form-item label="token" prop="token">
        <el-input v-model="dataForm.token" placeholder="token"></el-input>
      </el-form-item>
      <el-form-item label="EncodingAESKey" prop="aesKey">
        <el-input v-model="dataForm.aesKey" placeholder="EncodingAESKey"></el-input>
      </el-form-item>
      <el-form-item label="微信号昵称" prop="name">
        <el-input v-model="dataForm.name" placeholder="微信号昵称"></el-input>
      </el-form-item>
      <el-form-item label="是否第三方平台应用" prop="isComponent">
        <el-input v-model="dataForm.isComponent" placeholder="是否第三方平台应用"></el-input>
      </el-form-item>
      <el-form-item label="微信支付商户号" prop="mchId">
        <el-input v-model="dataForm.mchId" placeholder="微信支付商户号"></el-input>
      </el-form-item>
      <el-form-item label="微信支付商户密钥" prop="mchKey">
        <el-input v-model="dataForm.mchKey" placeholder="微信支付商户密钥"></el-input>
      </el-form-item>
      <el-form-item label="p12证书的位置" prop="keyPath">
        <el-input v-model="dataForm.keyPath" placeholder="p12证书的位置"></el-input>
      </el-form-item>
    </el-form>
    <template slot="footer">
      <el-button @click="visible = false">{{ $t('cancel') }}</el-button>
      <el-button type="primary" @click="dataFormSubmitHandle()">{{ $t('confirm') }}</el-button>
    </template>
  </el-dialog>
</template>

<script>
import debounce from 'lodash/debounce'
export default {
  data() {
    return {
      visible: false,
      dataForm: {
        id: '',
        appId:'',
        appType:'',
        weixinSign: '',
        secret: '',
        token: '',
        aesKey: '',
        name: '',
        isComponent:'',
        mchId:'',
        mchKey:'',
        keyPath:'',
      }
    }
  },
  computed: {
    dataRule() {
      return {
        name: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
      }
    }
  },
  methods: {
    init() {
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        if (this.dataForm.id) {
          this.getInfo()
        }
      })
    },
    // 获取信息
    getInfo() {
      this.$http.get(`/wx_mp/wxapp/${this.dataForm.id}`).then(({ data: res }) => {
        if (res.code !== 0) {
          return this.$message.error(res.msg)
        }
        this.dataForm = {
          ...this.dataForm,
          ...res.data
        }
      }).catch(() => { })
    },
    // 表单提交
    dataFormSubmitHandle: debounce(function () {
      this.$refs['dataForm'].validate((valid) => {
        if (!valid) {
          return false
        }
        this.$http[!this.dataForm.id ? 'post' : 'put']('/wx_mp/wxapp/', this.dataForm).then(({ data: res }) => {
          if (res.code !== 0) {
            return this.$message.error(res.msg)
          }
          this.$message({
            message: this.$t('prompt.success'),
            type: 'success',
            duration: 500,
            onClose: () => {
              this.visible = false
              this.$emit('refreshDataList')
            }
          })
        }).catch(() => { })
      })
    }, 1000, { 'leading': true, 'trailing': false })
  }
}
</script>
