<template>
  <el-card shadow="never" class="aui-card--fill">
    <div class="mod-wx_mp__wxuser}">
      <el-form :inline="true" :model="dataForm" @keyup.enter.native="getDataList()">
        <el-form-item>
          <el-input v-model="dataForm.id" placeholder="id" clearable></el-input>
        </el-form-item>
        <el-form-item>
          <el-button @click="getDataList()">{{ $t('query') }}</el-button>
        </el-form-item>
        <el-form-item>
          <el-button type="info" @click="exportHandle()">{{ $t('export') }}</el-button>
        </el-form-item>
        <el-form-item>
          <el-button
            v-if="$hasPermission('wx_mp:wxuser:save')"
            type="primary"
            @click="addOrUpdateHandle()"
          >{{ $t('add') }}</el-button>
        </el-form-item>
        <el-form-item>
          <el-button
            v-if="$hasPermission('wx_mp:wxuser:delete')"
            type="danger"
            @click="deleteHandle()"
          >{{ $t('deleteBatch') }}</el-button>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="synchronAllUser()">同步</el-button>
        </el-form-item>
      </el-form>
      <el-table
        v-loading="dataListLoading"
        :data="dataList"
        border
        @selection-change="dataListSelectionChangeHandle"
        style="width: 100%;"
      >
        <el-table-column type="selection" header-align="center" align="center" width="50"></el-table-column>
        <el-table-column prop="subscribe" label="用户是否订阅该公众号标识" header-align="center" align="center"></el-table-column>
        <el-table-column prop="subscribeTime" label="用户关注时间" header-align="center" align="center"></el-table-column>
        <el-table-column
          prop="subscribeScene"
          label="用户关注的渠道来源"
          header-align="center"
          align="center"
        ></el-table-column>
        <el-table-column prop="openId" label="用户的标识，对当前公众号唯一" header-align="center" align="center"></el-table-column>
        <el-table-column prop="remark" label="备注" header-align="center" align="center"></el-table-column>
        <el-table-column prop="groupId" label="分组ID" header-align="center" align="center"></el-table-column>
        <el-table-column prop="tagidList" label="标签ID列表" header-align="center" align="center"></el-table-column>
        <el-table-column prop="nickName" label="昵称" header-align="center" align="center"></el-table-column>
        <el-table-column prop="sex" label="性别" header-align="center" align="center"></el-table-column>
        <el-table-column prop="city" label="城市" header-align="center" align="center"></el-table-column>
        <el-table-column prop="country" label="国家" header-align="center" align="center"></el-table-column>
        <el-table-column prop="province" label="省份" header-align="center" align="center"></el-table-column>
        <el-table-column prop="language" label="语言" header-align="center" align="center"></el-table-column>
        <!-- <el-table-column prop="headimgUrl" label="头像" header-align="center" align="center"></el-table-column> -->
        <el-table-column label="头像" header-align="center" align="center">
          <template slot-scope="scope">
            <img :src="scope.row.headimgUrl" style="width: 60px;height:60px" />
          </template>
        </el-table-column>
        <el-table-column prop="unionId" label="区分用户的唯一性" header-align="center" align="center"></el-table-column>
        <el-table-column prop="qrScene" label="二维码扫码场景" header-align="center" align="center"></el-table-column>
        <el-table-column prop="qrSceneStr" label="二维码扫码场景描述" header-align="center" align="center"></el-table-column>
        <el-table-column
          :label="$t('handle')"
          fixed="right"
          header-align="center"
          align="center"
          width="150"
        >
          <template>
            <el-dialog
              title="修改备注"
              :visible.sync="dialogVisible"
              width="25%"
              :before-close="handleClose"
              :append-to-body="true"
            >
              <el-form
                ref="form"
                :rules="dataRule"
                :model="form"
                label-width="80px"
                @keyup.enter.native="dataFormSubmitHandle()"
              >
                <el-form-item>
                  <el-input v-model="form.id" placeholder="id" hidden></el-input>
                </el-form-item>
                <el-form-item label="备注" prop="remark">
                  <el-input v-model="form.remark"></el-input>
                </el-form-item>
              </el-form>
              <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="updateRemark()">确 定</el-button>
              </span>
            </el-dialog>
          </template>
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="tanchuang(scope.row.id)">修改备注</el-button>

            <el-button
              v-if="$hasPermission('wx_mp:wxuser:update')"
              type="text"
              size="small"
              @click="addOrUpdateHandle(scope.row.id)"
            >查看</el-button>
            <el-button
              v-if="$hasPermission('wx_mp:wxuser:delete')"
              type="text"
              size="small"
              @click="deleteHandle(scope.row.id)"
            >{{ $t('delete') }}</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        :current-page="page"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="limit"
        :total="total"
        layout="total, sizes, prev, pager, next, jumper"
        @size-change="pageSizeChangeHandle"
        @current-change="pageCurrentChangeHandle"
      ></el-pagination>
      <!-- 弹窗, 新增 / 修改 -->
      <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
    </div>
  </el-card>
</template>

<script>
import debounce from 'lodash/debounce'
import mixinViewModule from '@/mixins/view-module'
import AddOrUpdate from './wxuser-add-or-update'
export default {
  mixins: [mixinViewModule],
  data() {
    return {
      dialogVisible: false,
      appId: "",
      mixinViewModuleOptions: {
        getDataListURL: `/wx_mp/wxuser/getPageByAppId/${this.appId}`,
        getDataListIsPage: true,
        exportURL: '/wx_mp/wxuser/export',
        deleteURL: '/wx_mp/wxuser',
        deleteIsBatch: true
      },
      dataForm: {
        id: ''
      },
      order: '',                  // 排序，asc／desc
      orderField: '',             // 排序，字段
      page: 1,                    // 当前页码
      limit: 10,                  // 每页数
      total: 0,                   // 总条数
      form: {
        id: '',
        remark: ''
      }
    }
  },
  components: {
    AddOrUpdate
  },
  beforeCreate() {
    //生命周期里接收参数
    this.appId = this.$route.params.appId;//接受参数关键代码
  },

  mounted() {
    //生命周期里接收参数
    this.appId = this.$route.params.appId;//接受参数关键代码
    console.log("appId：" + this.appId);
  },
  methods: {
    //加载修改备注弹窗
    tanchuang(id) {
      this.form.id = id
      this.dialogVisible = true
    },
    //修改备注
    updateRemark: debounce(function () {
      this.$refs['form'].validate((valid) => {
        if (!valid) {
          return false
        }
        this.$http.put('/wx_mp/wxuser/updateRemark', this.form).then(({ data: res }) => {
          if (res.code !== 0) {
            return this.$message.error(res.msg)
          }
          this.$message({
            message: this.$t('prompt.success'),
            type: 'success',
            duration: 500,
            onClose: () => {
              this.dialogVisible = false
              this.getDataList()
            }
          })
        }
        ).catch(() => { })
      })
    }, 1000, { 'leading': true, 'trailing': false }),
    handleClose(done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done();
        })
        .catch(_ => { });
    },
    //同步用户信息
    synchronAllUser() {
      this.$http
        .get("wx_mp/wxuser/synchronAllUser?appId=" + this.appId)
        .then(res => {
          if (res.code !== 0) {
            return this.$message.error(res.msg)
          }
          this.$message({
            message: this.$t('prompt.success'),
            type: 'success',
            duration: 500,
            onClose: () => {
              this.getDataList()
            }
          })
        })
        .catch(err => {
          console.log(err);
        });
    },
    // 获取数据列表
    getDataList() {
      this.dataListLoading = true
      this.$http.get(
        this.mixinViewModuleOptions.getDataListURL,
        {
          params: {
            order: this.order,
            orderField: this.orderField,
            page: this.mixinViewModuleOptions.getDataListIsPage ? this.page : null,
            limit: this.mixinViewModuleOptions.getDataListIsPage ? this.limit : null,
            ...this.dataForm
          }
        }
      ).then(({ data: res }) => {
        this.dataListLoading = false
        if (res.code !== 0) {
          this.dataList = []
          this.total = 0
          return this.$message.error(res.msg)
        }
        this.dataList = this.mixinViewModuleOptions.getDataListIsPage ? res.data.list : res.data
        this.total = this.mixinViewModuleOptions.getDataListIsPage ? res.data.total : 0
      }).catch(() => {
        this.dataListLoading = false
      })
    },

  },
  computed: {
    dataRule() {
      return {
        remark: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ]
      }
    }
  },
}
</script>
