<template>
  <el-dialog
    :visible.sync="visible"
    :title="!dataForm.id ? $t('add') : $t('update')"
    :close-on-click-modal="false"
    :close-on-press-escape="false"
  >
    <el-form
      :model="dataForm"
      :rules="dataRule"
      ref="dataForm"
      @keyup.enter.native="dataFormSubmitHandle()"
      :label-width="$i18n.locale === 'en-US' ? '120px' : '80px'"
    >
      <el-form-item label="用户是否订阅该公众号标识" prop="subscribe">
        <el-input v-model="dataForm.subscribe" placeholder="用户是否订阅该公众号标识"></el-input>
      </el-form-item>
      <el-form-item label="用户关注时间" prop="subscribeTime">
        <el-input v-model="dataForm.subscribeTime" placeholder="用户关注时间"></el-input>
      </el-form-item>
      <el-form-item label="用户关注的渠道来源" prop="subscribeScene">
        <el-input v-model="dataForm.subscribeScene" placeholder="用户关注的渠道来源"></el-input>
      </el-form-item>
      <el-form-item label="关注次数" prop="subscribeNum">
        <el-input v-model="dataForm.subscribeNum" placeholder="关注次数"></el-input>
      </el-form-item>
      <el-form-item label="取消关注时间" prop="cancelSubscribeTime">
        <el-input v-model="dataForm.cancelSubscribeTime" placeholder="取消关注时间"></el-input>
      </el-form-item>
      <el-form-item label="用户的标识" prop="openId">
        <el-input v-model="dataForm.openId" placeholder="用户的标识"></el-input>
      </el-form-item>
      <el-form-item label="应用类型" prop="appType">
        <el-input v-model="dataForm.appType" placeholder="应用类型"></el-input>
      </el-form-item>
      <el-form-item label="备注" prop="remark">
        <el-input v-model="dataForm.remark" placeholder="备注"></el-input>
      </el-form-item>
      <el-form-item label="分组ID" prop="groupId">
        <el-input v-model="dataForm.groupId" placeholder="分组ID"></el-input>
      </el-form-item>
      <el-form-item label="标签ID列表" prop="tagidList">
        <el-input v-model="dataForm.tagidList" placeholder="用户被打上的标签ID列表"></el-input>
      </el-form-item>
      <el-form-item label="昵称" prop="nickName">
        <el-input v-model="dataForm.nickName" placeholder="昵称"></el-input>
      </el-form-item>
      <el-form-item label="性别" prop="sex">
        <el-input v-model="dataForm.sex" placeholder="性别"></el-input>
      </el-form-item>
      <el-form-item label="城市" prop="city">
        <el-input v-model="dataForm.city" placeholder="城市"></el-input>
      </el-form-item>
      <el-form-item label="国家" prop="country">
        <el-input v-model="dataForm.country" placeholder="国家"></el-input>
      </el-form-item>
      <el-form-item label="省份" prop="province">
        <el-input v-model="dataForm.province" placeholder="省份"></el-input>
      </el-form-item>
      <el-form-item label="语言" prop="language">
        <el-input v-model="dataForm.language" placeholder="语言"></el-input>
      </el-form-item>
      <el-form-item label="头像" prop="headimgUrl">
        <el-input v-model="dataForm.headimgUrl" placeholder="头像"></el-input>
      </el-form-item>
      <el-form-item label="区分用户的唯一性" prop="unionId">
        <el-input v-model="dataForm.unionId" placeholder="区分用户的唯一性"></el-input>
      </el-form-item>
      <el-form-item label="二维码扫码场景" prop="qrScene">
        <el-input v-model="dataForm.qrScene" placeholder="二维码扫码场景"></el-input>
      </el-form-item>
      <el-form-item label="二维码扫码场景描述" prop="qrSceneStr">
        <el-input v-model="dataForm.qrSceneStr" placeholder="二维码扫码场景描述"></el-input>
      </el-form-item>
    </el-form>
    <template slot="footer">
      <el-button @click="visible = false">{{ $t('cancel') }}</el-button>
      <el-button type="primary" @click="dataFormSubmitHandle()">{{ $t('confirm') }}</el-button>
    </template>
  </el-dialog>
</template>

<script>
import debounce from 'lodash/debounce'
export default {
  data() {
    return {
      visible: false,
      dataForm: {
        id: '',
        subscribe: '',
        subscribeTime: '',
        subscribeScene: '',
        openId: '',
        remark: '',
        groupId: '',
        tagidList: '',
        nickName: '',
        sex: '',
        city: '',
        country: '',
        province: '',
        language: '',
        headimgUrl: '',
        unionId: '',
        qrScene: '',
        qrSceneStr: ''
      }
    }
  },
  computed: {
    dataRule() {
      return {
        subscribe: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        subscribeTime: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        subscribeScene: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        openId: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        remark: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        groupId: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        tagidList: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        nickName: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        sex: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        city: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        country: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        province: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        language: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        headimgUrl: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        unionId: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        qrScene: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        qrSceneStr: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
      }
    }
  },
  methods: {
    init() {
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        if (this.dataForm.id) {
          this.getInfo()
        }
      })
    },
    // 获取信息
    getInfo() {
      this.$http.get(`/wx_mp/wxuser/${this.dataForm.id}`).then(({ data: res }) => {
        if (res.code !== 0) {
          return this.$message.error(res.msg)
        }
        this.dataForm = {
          ...this.dataForm,
          ...res.data
        }
      }).catch(() => { })
    },
    // 表单提交
    dataFormSubmitHandle: debounce(function () {
      this.$refs['dataForm'].validate((valid) => {
        if (!valid) {
          return false
        }
        this.$http[!this.dataForm.id ? 'post' : 'put']('/wx_mp/wxuser/', this.dataForm).then(({ data: res }) => {
          if (res.code !== 0) {
            return this.$message.error(res.msg)
          }
          this.$message({
            message: this.$t('prompt.success'),
            type: 'success',
            duration: 500,
            onClose: () => {
              this.visible = false
              this.$emit('refreshDataList')
            }
          })
        }).catch(() => { })
      })
    }, 1000, { 'leading': true, 'trailing': false })
  }
}
</script>
